<mat-toolbar color="accent">
  <mat-toolbar-row>FindMyUser</mat-toolbar-row>
</mat-toolbar>

<div [formGroup]="userForm" class="container">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> 
        <div *ngIf="editId !== element._id">
          {{element.firstName}} 
        </div>
        <div *ngIf="editId === element._id">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" type="text">
          </mat-form-field>
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="editId !== element._id">
          {{element.lastName}} 
        </div>
        <div style="width: 100%;" *ngIf="editId === element._id">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="text">
          </mat-form-field>
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="deliveryAddress">
      <th mat-header-cell *matHeaderCellDef> Delivery Address </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="editId !== element._id">
          {{element.deliveryAddress}} 
        </div>
        <div style="width: 100%;" *ngIf="editId === element._id">
          <mat-form-field>
            <mat-label>Delivery Address</mat-label>
            <input formControlName="deliveryAddress" matInput type="text">
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="billingAddress">
      <th mat-header-cell *matHeaderCellDef> Billing Address </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="editId !== element._id">
          {{element.billingAddress}} 
        </div>
        <div style="width: 100%;" *ngIf="editId === element._id">
          <mat-form-field>
            <mat-label>Billing Address</mat-label>
            <input formControlName="billingAddress" matInput type="text">
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon *ngIf="editId !== element._id" (click)="editRow(element)" style="cursor: pointer;">edit</mat-icon>
        <mat-icon *ngIf="editId === element._id" (click)="saveRow(element)" style="cursor: pointer;">check</mat-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</div>